@charset "UTF-8";
.container {
  margin-left: auto;
  margin-right: auto;
}

.title {
  background-color: dimgray;
  color: #eee;
  padding-left: 0.4em;
}

.subTitle {
  background-color: orangered;
  color: #fff;
  padding-left: 0.4em;
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media screen and (min-width:481px) and ( max-width:1023px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}