@charset "utf-8";
/* 自由な配置（position） */

div {
  padding: 10px;
}

.item1 {
  background-color: #deffd8;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.item2 {
  background-color: #ffded8;
  width: 150px;
  height: 150px;
}