@charset "utf-8";
/* メディアクエリ */

.item {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}

@media screen and (min-width: 640px) {
}

/* @supports (display: flex) {
  @media screen and (min-width: 640px) {
    .box {
      display: flex;
    }
  }
} */